body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image:url(https://images-americanas.b2w.io/produtos/4727821230/imagens/gift-card-digital-riot-valorant-r-50/4727821230_1_large.jpg)
  
}